{% extends 'base.html' %}

{% block title %} IMC {% endblock %}

{% block content %}

{% if user.is_authenticated %}
<div>
    <h4>Usuário: {{ user.username }}</h4>

    <form action="{% url 'logout' %}" method="post">
        {% csrf_token %}
        <button class="nav-link active" type="submit">Sair</button>
    </form>
</div>
{% endif %}

<div class="header">CALCULADORA DE IMC</div>

<div class="content">

    <input type="number" id="peso" placeholder="PESO">
    <input type="number" id="altura" step="0.01" placeholder="ALTURA">

    <div class="botoes">
        <button onclick="calcular()">CALCULAR</button>
        <button class="limpar" onclick="limparCampos()">LIMPAR</button>

        {% if user.is_authenticated %}
            <!-- Somente usuários logados podem salvar -->
            <button onclick="enviarIMC()">SALVAR IMC</button>
        {% else %}
            <!-- Visitantes calculam normalmente -->
            <a class="button" href="{% url 'login' %}">FAZER LOGIN PARA SALVAR</a>
        {% endif %}
    </div>

    <p id="resultado"></p>

    {% if user.is_authenticated %}
    <!-- Form invisível para enviar o IMC ao backend -->
    <form id="formSalvar" action="{% url 'salvar_imc' %}" method="post" style="display:none;">
        {% csrf_token %}
        <input type="hidden" name="peso" id="peso_hidden">
        <input type="hidden" name="altura" id="altura_hidden">
        <input type="hidden" name="imc" id="imc_hidden">
    </form>
    {% endif %}
</div>


{% endblock %}
